.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bear-img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: 20px;
    line-height: 1;
}

.yes,
.no {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yes {
    background-color: green;
    color: white;
}

.no {
    background-color: red;
    color: white;
}

.envelope {
    display: none;
    max-width: 50%;
    height: 100px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.envelope.open {
    transform: scale(1.5);
}

.envelope-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: default;
    font-size: 12px;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 30px;
    max-width: 100%;
}

.envelope.open .envelope-content {
    display: block;
}


@media (max-width: 600px) {
    .buttons {
        flex-direction: column;
        margin-top: 10px;
    }

    .yes,
    .no {
        margin-right: 0;
        margin-bottom: 10px;
    }
}